@import "../../styles/common.scss";
@import "../../styles/mixin.scss";

.footer-wrapper {
	height: 192px;
	width: 100%;
	background-color: $color-bg-dark;
	position: relative;
	z-index: 0;
	transition: height 0.3s ease-in-out;
	overflow: hidden;
}

.footer-container {
	margin: 0 auto !important;
	padding: 0.48rem 0.24rem;
	max-width: 12.2rem;
	.icon {
		font-size: 0.16rem;
		margin-right: 0.08rem;
	}
	.title {
		color: #8898aa;
		font-size: 0.14rem;
		margin-bottom: 0.08rem;
	}
	.link {
		font-size: 0.14rem;
		font-weight: 200;
		color: #8898aa;
		line-height: 0.3rem;
		transition: color 0.2s;
		&:hover {
			color: $color-bg-gray;
		}
	}
}
.footItem {
	padding: 24px 2%;
	width: 25%;
	float: left;
	div {
		margin: 6px 0;
	}
	a {
		font-weight: 200;
		color: #b3bdc1;
		&:hover {
			color: white;
		}
	}
}
.copyRight {
	padding: 24px 2%;
	width: 25%;
	float: left;
	font-size: 13px;
	text-indent: 1em;
	h4 {
		font-size: 14px;
		margin: 0 auto 13px;
		font-weight: 500;
		position: relative;
		text-indent: 0;
	}
}
