node_modules
.DS_Store
dist
dist*
dist-ssr
*.local
.idea
package-lock.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/germinal/v17/.suo

privateConfigs.js
src_music_old
build/make/PWA/__APP_VERSION
