.CachedMobileSongItem {
  padding: 0 16px;
  line-height: 20px;
  height: 48px;
  border-radius: 4px;
}
.CachedMobileSongItem .title {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.CachedMobileSongItem .singer {
  font-size: 12px;
  text-indent: 16px;
}
