.CurrentMobileSongItem {
  line-height: 20px;
  height: 48px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 1;
  width: 1px;
  background: white;
  padding-right: 16px;
  padding-left: 16px;
}
.CurrentMobileSongItem > .title {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.CurrentMobileSongItem > .singer {
  font-size: 12px;
  text-indent: 16px;
}
.CurrentMobileSongItem_delete-icon {
  width: 0;
  line-height: 20px;
  height: 48px;
  transform: translateX(-10px);
  z-index: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #e9f7ff;
}
