#ViewMusic .nav-tab {
  height: 48px !important;
  z-index: 1;
}
#ViewMusic .nav-tab .menu-icon {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}
#ViewMusic .top-nav [aria-label="gohome"] {
  width: 32px;
  margin-left: 4px;
}
#ViewMusic .play-list-wrapper {
  overflow: auto;
  overflow-x: hidden;
  height: 90%;
}
#ViewMusic .MobileSongItem div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
