.layout-menu {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.layout-basic {
  height: 100%;
}
.layout-basic > aside.ant-layout-sider > .ant-layout-sider-children {
  display: flex;
  flex-flow: column nowrap;
}
.layout-basic .header {
  background: #fff;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
