#playlist-private-mobile {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
#playlist-private-mobile .song-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
  margin: 10px;
}
#playlist-private-mobile .song-item .content {
  line-height: 20px;
  height: 48px;
  border-radius: 16px;
}
#playlist-private-mobile .song-item .content .title {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#playlist-private-mobile .song-item .content .singer {
  font-size: 12px;
  text-indent: 16px;
}
