$list: 0 3 4 5 8 9 10 13 14 15 16 20 24 25 30;

@each $i in $list {
	.margin#{$i} {
		margin: $i * 1px;
	}
	.padding#{$i} {
		padding: $i * 1px;
	}
	.paddingT#{$i} {
		padding-top: $i * 1px;
	}
	.paddingR#{$i} {
		padding-right: $i * 1px;
	}
	.paddingB#{$i} {
		padding-bottom: $i * 1px;
	}
	.paddingL#{$i} {
		padding-left: $i * 1px;
	}

	.mt#{$i} {
		margin-top: $i * 1px;
	}
	.mr#{$i} {
		margin-right: $i * 1px;
	}
	.mb#{$i} {
		margin-bottom: $i * 1px;
	}
	.ml#{$i} {
		margin-left: $i * 1px;
	}
}
